{% extends "layout/base.html" %}
{% load crudbuilder %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="content-wrapper">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<h1>{{actual_model_name|title}}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
                            <h3 class="card-title">List Data</h3>
							<div class="card-tools">
								<a class="btn btn-primary btn-sm"
									href="{% url app_label|add:'-'|add:custom_postfix_url|add:'-create' %}"><i
										class="glyphicon glyphicon-plus-sign"></i> Add Data</a>
							</div>
                        </div>
						<div class="card-body">
							<form class="form-inline pull-right mb-4" role="form" action="." method="GET">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" name="search" placeholder="Search">
									<span class="input-group-append">
										<button type="submit" class="btn btn-primary">Search</button>
									</span>
								</div>
							</form>
							{% render_table table_objects "crudbuilder/widgets/tables/tables.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %}
<b>APP :</b> {{app_label}}<br />
<b>MODEL : </b>{{actual_model_name}}<br />
<b>PLURIZED MODEL :</b> {{pluralized_model_name}}<br />

<h4>Using normal queryset</h4>
{{object_list}}
{% endcomment %}

{% endblock content %}