{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Karyawan</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Detai Data</h5>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'karyawan:index' %}" class="btn btn-sm btn-danger">Back</a>
                            <a href="{% url 'karyawan:destroy' karyawan.id %}" class="btn btn-sm btn-warning">Delete</a>
                            <a href="{% url 'karyawan:edit' karyawan.id %}" class="btn btn-sm btn-success">Edit</a><br>
                            <table class="table table-bordered mt-3">
                                <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <img src="{% get_media_prefix %}{{karyawan.foto}}" class="img-thumbnail" width="150px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%">Id</td>
                                        <td>{{karyawan.id}}</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">Kode</td>
                                        <td>{{karyawan.kode}}</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">NIK</td>
                                        <td>{{karyawan.nik}}</td>
                                    </tr>
                                    <tr>
                                        <td>No Karyawan Tetap</td>
                                        <td>{{karyawan.no_karyawan_tetap}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nama</td>
                                        <td>{{karyawan.nama}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nama Lengkap</td>
                                        <td>{{karyawan.nama_lengkap}}</td>
                                    </tr>
                                    <tr>
                                        <td>No Telfon</td>
                                        <td>{{karyawan.no_telfon}}</td>
                                    </tr>
                                    <tr>
                                        <td>TTL</td>
                                        <td>{{karyawan.tempat_lahir}} {{karyawan.tgl_lahir}}</td>
                                    </tr>
                                    <tr>
                                        <td>STR</td>
                                        <td>{{karyawan.no_str}} Berlaku Sampai {{karyawan.tgl_berlaku_str}}</td>
                                    </tr>
                                    <tr>
                                        <td>SIP</td>
                                        <td>{{karyawan.no_sip}} Berlaku Sampai {{karyawan.tgl_berlaku_sip}}</td>
                                    </tr>
                                    <tr>
                                        <td>Agama</td>
                                        <td>{{karyawan.agama}}</td>
                                    </tr>
                                    <tr>
                                        <td>Jenis Kelamin</td>
                                        <td>{{karyawan.jenis_kelamin}}</td>
                                    </tr>
                                    <tr>
                                        <td>Golongan Darah</td>
                                        <td>{{karyawan.golongan_darah}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status Nikah</td>
                                        <td>{{karyawan.status_nikah}}</td>
                                    </tr>
                                    <tr>
                                        <td>User</td>
                                        <td>{{karyawan.user}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status Karyawan</td>
                                        <td>{{karyawan.status_karyawan}}</td>
                                    </tr>
                                    <tr>
                                        <td>Golongan Karyawan</td>
                                        <td>{{karyawan.golongan_karyawan}}</td>
                                    </tr>
                                    <tr>
                                        <td>Golongan Karyawan</td>
                                        <td>{{karyawan.jabatan_karyawan}}</td>
                                    </tr>
                                    <tr>
                                        <td>Golongan Karyawan</td>
                                        <td>{{karyawan.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}