{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Oops!</h5>
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-check"></i> Yes!</h5>
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {% if cek_relasi == 0 %}
                    <div class="alert alert-warning">
                        <h5><i class="icon fas fa-exclamation-triangle"></i> Peringatan !</h5>
                        Akun anda belum berelasi dengan data karyawan, hal ini membuat anda tidak dapat
                        mengakses
                        beberapa fitur aplikasi, hubungi SDI untuk menyelesaikan masalah ini.
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissible">
                        <h5><i class="icon fas fa-info"></i> Welcome</h5>
                        {{user.username}} To SIMRS RSMAD BETA
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="callout callout-warning">
                                <h5>Pengumumman !</h5>
                                <p>Pastikan username dan password lama telah diganti dengan username dan password baru yang lebih aman.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Berkas Terbaru Saya</h3>
                        </div>
                        <div class="card-body p-0">
                            <ul class="products-list product-list-in-card pl-2 pr-2">
                                {% for row_berkas_saya in berkas_saya %}
                                <li class="item">
                                    <div class="product-info ml-3">
                                        <a href="{{row_berkas_saya.berkas.url}}" target="blank" class="product-title">{{row_berkas_saya.nama_berkas}}
                                            <span class="badge badge-warning float-right">{{row_berkas_saya.status_berkas}}</span></a>
                                        <span class="product-description">
                                            {{row_berkas_saya.verifikator.username}}
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="card-footer text-center">
                            <a href="{%url 'karyawan:berkas-saya-index' %}" class="uppercase">View All Data</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}